.range-slider {
    width:90%;
    position: relative;
    margin: 15px auto 30px auto;
  }
  
  input[type=range] {
    width: 100%;
    background: #3BB3BD; 
    position: absolute;
    left: 0;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 150px;
    border-radius: 50%;
    background: #36b37e;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #3BB3BD;
    border-radius: 3px;
    border: none;
  }